.header {
    background: url('../assets/header.png');
    height: 800px;
    margin: 0;
    position: relative;

    .nav {
        position: absolute;
        top: 45px;
        padding-left: 152px;
        width: 800px;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;

        .nav__link--siteName {
            font-size: 20px;
            line-height: 16px;
            font-weight: 600;
            letter-spacing: 0.1em;
            color: $text-color;
        }

        .nav__link {
            font-size: 14px;
            line-height: 16px;
            font-weight: $font-normal;
            letter-spacing: 0.2em;
            color: $text-color;
        }

        .nav__burger {
            display: none;
        }

        .nav__link--underline {
            text-decoration: underline;
        }
    }

    .heroBlock {
        padding: 252px 386px 256px 386px;
        position: relative;

        .heroBlock__logoBig {
            position: absolute;
            top: 200px;
            left: 565px;
            width: 63px;
            height: 63px;
            transition: transform 1s ease-in-out;
            z-index: 3;

            &:hover {
                transform: rotateY(180deg) scale(1.8);
            }
        }

        .heroBlock__subhead {
            font-size: 24px;
            color: $transp-white-add;
            line-height: 32px;
            font-weight: $font-normal;
        }
    }


}