.imageSection {
    position: absolute;
    top: 1500px;
    height: 666px;
    background: url('../assets/IMG-main.png');
    margin: 0;
    width: $general-width;

    .imageSection__cover {
        position: absolute;
        top: 0;
        height: 666px;
        background: $cover-color;
        width: $general-width;

        .imageSection__head {
            margin-top: 84px;
            margin-bottom: 53px;
            color: $text-color;
        }

        .imageSection__btnPlay {
            position: absolute;
            top: 254px;
            left: 525px;
            background: $btn-color;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            transition: all 1s ease-in-out;

            &:hover {
                background: $text-color;
                transform: scale(0.8);
            }

            &:hover>.imageSection__triangle {
                border-left: 55px solid $btn-color;
            }

            .imageSection__triangle {
                position: absolute;
                top: 47px;
                left: 40px;
                margin-left: 15px;
                width: 0px;
                height: 0px;
                border-top: 27.5px solid transparent;
                border-left: 55px solid $text-color;
                border-bottom: 27.5px solid transparent;
                border-radius: 2px;
                transition: border-left 1s ease-in-out;
            }
        }

        .imageSection__textLearnMore {
            position: absolute;
            top: 474px;
            color: $text-color;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            font-weight: $font-normal;
            font-style: normal;
            padding-left: 360px;
            padding-right: 360px;
        }
    }
}