@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,600;1,700;1,900&display=swap);


$btn-color: #55C2D8;
$text-color: #FFFFFF;
$footerBackground-color: #464547;
$background-color: #EEEEEE;

$main-font: 'Source Sans Pro', sans-serif;
$head-font: 'Oswald', sans-serif;