@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,600;1,700;1,900&display=swap);
body {
  width: 1200px;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
  height: 2336px;
}

h3 {
  margin-top: 0;
}

h1 {
  margin-top: 20px;
}

h2, h1 {
  text-align: center;
  font-size: 48px;
  line-height: 64px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.header {
  background: url("../assets/header.png");
  height: 800px;
  margin: 0;
  position: relative;
}
.header .nav {
  position: absolute;
  top: 45px;
  padding-left: 152px;
  width: 800px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
}
.header .nav .nav__link--siteName {
  font-size: 20px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}
.header .nav .nav__link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}
.header .nav .nav__burger {
  display: none;
}
.header .nav .nav__link--underline {
  text-decoration: underline;
}
.header .heroBlock {
  padding: 252px 386px 256px 386px;
  position: relative;
}
.header .heroBlock .heroBlock__logoBig {
  position: absolute;
  top: 200px;
  left: 565px;
  width: 63px;
  height: 63px;
  transition: transform 1s ease-in-out;
  z-index: 3;
}
.header .heroBlock .heroBlock__logoBig:hover {
  transform: rotateY(180deg) scale(1.8);
}
.header .heroBlock .heroBlock__subhead {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 32px;
  font-weight: 400;
}

.colorSection {
  position: absolute;
  top: 800px;
  background: #EEEEEE;
  height: 700px;
  margin: 0;
  width: 1200px;
}
.colorSection .colorSection__head {
  margin-top: 87px;
  margin-bottom: 40px;
  color: #464547;
  font-weight: 700;
}
.colorSection .colorSection__subhead {
  margin-bottom: 48px;
  font-size: 24px;
  line-height: 32px;
  color: #666666;
  font-weight: 400;
  text-align: center;
}
.colorSection .colorSection__wrapper {
  margin: 0 143px 21px 150px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
  color: #000000;
}
.colorSection .colorSection__wrapper .colorSection__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 83px;
       column-gap: 83px;
}
.colorSection .colorSection__btnRead {
  display: block;
  margin: 0 auto;
  padding: 5px 17px 6px 18px;
  border: none;
  border-radius: 18px;
  background: #55C2D8;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  width: 115px;
  height: 36px;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: transform 1s ease-in-out;
}
.colorSection .colorSection__btnRead:hover {
  transform-origin: left;
  transform: rotateZ(15deg);
}

.imageSection {
  position: absolute;
  top: 1500px;
  height: 666px;
  background: url("../assets/IMG-main.png");
  margin: 0;
  width: 1200px;
}
.imageSection .imageSection__cover {
  position: absolute;
  top: 0;
  height: 666px;
  background: rgba(140, 79, 42, 0.3);
  width: 1200px;
}
.imageSection .imageSection__cover .imageSection__head {
  margin-top: 84px;
  margin-bottom: 53px;
  color: #FFFFFF;
}
.imageSection .imageSection__cover .imageSection__btnPlay {
  position: absolute;
  top: 254px;
  left: 525px;
  background: #55C2D8;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: all 1s ease-in-out;
}
.imageSection .imageSection__cover .imageSection__btnPlay:hover {
  background: #FFFFFF;
  transform: scale(0.8);
}
.imageSection .imageSection__cover .imageSection__btnPlay:hover > .imageSection__triangle {
  border-left: 55px solid #55C2D8;
}
.imageSection .imageSection__cover .imageSection__btnPlay .imageSection__triangle {
  position: absolute;
  top: 47px;
  left: 40px;
  margin-left: 15px;
  width: 0px;
  height: 0px;
  border-top: 27.5px solid transparent;
  border-left: 55px solid #FFFFFF;
  border-bottom: 27.5px solid transparent;
  border-radius: 2px;
  transition: border-left 1s ease-in-out;
}
.imageSection .imageSection__cover .imageSection__textLearnMore {
  position: absolute;
  top: 474px;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  padding-left: 360px;
  padding-right: 360px;
}

.footer {
  position: absolute;
  top: 2166px;
  height: 170px;
  background: #464547;
  width: 1200px;
}
.footer .footer__addInformation {
  margin-top: 21px;
  margin-left: 140px;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}
.footer .footer__addInformation .footer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
.footer .footer__addInformation .footer__wrapper .footer__smallLogo {
  margin: 19px 0 12px 5px;
}
.footer .footer__addInformation .footer__wrapper .footer__logoWord {
  padding-left: 16px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.2em;
}
.footer .footer__addInformation .footer__wrapper .footer__markRights {
  padding-top: 74px;
  text-align: center;
  margin: 0;
}
.footer .footer__addInformation .footer__wrapper .footer__email {
  display: block;
  padding-top: 15px;
}

@-webkit-keyframes Apperance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes Apperance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes SlideInOut {
  from {
    top: 23px;
    left: 446px;
  }
  to {
    top: 3px;
    left: 426px;
  }
}
@keyframes SlideInOut {
  from {
    top: 23px;
    left: 446px;
  }
  to {
    top: 3px;
    left: 426px;
  }
}
.header__imageAnimaStar {
  position: absolute;
  top: 61px;
  left: 748px;
  opacity: 0;
  animation: Apperance 3s ease-in 0.5s infinite alternate-reverse;
}

.header__imageAnimaDots {
  position: absolute;
  top: 23px;
  left: 446px;
  width: 60%;
  animation: SlideInOut 3s ease-in 0.5s infinite alternate-reverse;
}

@media (max-width: 768px) {
  body {
    width: 483px;
  }
  .header {
    background: url("../assets/header.png") right;
  }
  .header .nav {
    position: relative;
    padding-left: 20px;
    width: 433px;
  }
  .header .nav .nav__link:not(.nav__link--siteName) {
    display: none;
  }
  .header .nav .nav__burger {
    display: block;
    width: 22px;
    text-align: right;
    padding-left: 330px;
  }
  .header .header__imageAnimaStar {
    position: absolute;
    left: 37px;
    top: 68px;
    width: 93%;
  }
  .header .header__imageAnimaDots {
    position: absolute;
    top: 26px;
    left: -265px;
    width: 147%;
  }
  .header .heroBlock {
    padding: 200px 48px 246px 48px;
  }
  .header .heroBlock .heroBlock__logoBig {
    position: absolute;
    top: 140px;
    left: 215px;
  }
  @-webkit-keyframes SlideInOut {
    from {
      top: 26px;
      left: -265px;
    }
    to {
      top: 10px;
      left: -280px;
    }
  }
  @keyframes SlideInOut {
    from {
      top: 26px;
      left: -265px;
    }
    to {
      top: 10px;
      left: -280px;
    }
  }
  .colorSection {
    position: static;
    margin-top: -90px;
    width: 483px;
    height: 990px;
  }
  .colorSection .colorSection__head {
    padding: 65px 62px 41px 27px;
    margin-bottom: 0;
    text-align: left;
  }
  .colorSection .colorSection__subhead {
    margin-bottom: 18px;
    text-align: left;
    margin-left: 27px;
  }
  .colorSection .colorSection__wrapper {
    margin: 0 23px 21px 27px;
  }
  .colorSection .colorSection__wrapper .colorSection__text {
    grid-template-columns: auto;
  }
  .colorSection .colorSection__btnRead {
    margin-left: 27px;
  }
  .imageSection {
    position: static;
    margin-top: -90px;
    width: 483px;
    height: 637px;
  }
  .imageSection .imageSection__cover {
    position: static;
    margin-top: -90px;
    width: 483px;
    height: 637px;
  }
  .imageSection .imageSection__cover .imageSection__head {
    padding-top: 40px;
    margin-top: 0;
    margin-bottom: 66px;
  }
  .imageSection .imageSection__cover .imageSection__btnPlay {
    position: static;
    width: 90px;
    height: 75px;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 10px;
  }
  .imageSection .imageSection__cover .imageSection__btnPlay .imageSection__triangle {
    position: static;
    margin: 0 auto;
    border-top: 23px solid transparent;
    border-left: 46px solid #FFFFFF;
    border-bottom: 23px solid transparent;
  }
  .imageSection .imageSection__cover .imageSection__textLearnMore {
    position: static;
    margin: 70px 41px 0 43px;
    padding: 0;
  }
  .footer {
    position: static;
    height: 292px;
    width: 483px;
    margin-top: -22px;
  }
  .footer .footer__addInformation {
    padding-top: 58px;
    padding-left: 0;
    margin-left: 0;
  }
  .footer .footer__addInformation .footer__wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer .footer__addInformation .footer__wrapper .footer__logoWord {
    padding-left: 15px;
  }
  .footer .footer__addInformation .footer__wrapper .footer__smallLogo {
    margin: 0;
  }
  .footer .footer__addInformation .footer__wrapper .footer__markRights {
    padding-top: 19px;
  }
}/*# sourceMappingURL=styles.css.map */